<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="log4net.Internal.Debug" value="true"/>
		<add key="URLServerGoiY" value="https://localhost:44313"/>
		<add key="ES:Server" value="http://localhost:9200"/>
		<add key="PrefixIndex" value="sug"/>
	</appSettings>

</configuration>